<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--[if lte IE 8]>
  <link rel="stylesheet" href="https://yui.yahooapis.com/pure/0.6.0/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="https://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
    <!--<![endif]-->
</head>
<body>
<h1>Generate</h1>
<a href="/"><< back</a>
<hr>
<p>A banner generation interface is not available at this time. Try going to <code>/[server address]</code> for server details and <code>/[server address]/banner</code>.</p>
<ul>
    <li><a href="/sg.lbsg.net">Example server page</a></li>
    <li><a href="/sg.lbsg.net/banner">Example banner</a></li>
    <li><a href="/sg.lbsg.net/json">Example JSON</a></li>
</ul>
<div class="copyright"><p>Made with <i class="fa fa-heart"></i> and <i class="fa fa-code"></i> by <a href="http://99leonchang.com">@99leonchang</a> and <a href="http://falkirks.com">@Falkirks</a></p></div>
</body>
</html>